.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	margin-top:  11px;
	margin-right: 30px;
	border: 0px;
	border-radius: 4px;
	float: right;
	opacity: 100%;
}

button:hover {
	opacity: 90%;
}

.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
	position: relative;
	background-color: #FFFFFF;
}

.amenities {
	height: 100%;
	text-align: left;
	float: left;
	display: flex;
	width: 75%;
	position: relative;
	line-height: 1;
	justify-content: space-between;
}

.reduce{
	width: 35%;
	margin-left: -auto;
}

.popover{
	background-color:  #FAFAFA;
	width: 99.4%;
	height: fit-content;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 0;
	position: absolute;
	top: 70px;
	z-index: -99;
	transition: all .3s ease-in-out;
	visibility: hidden;
}

.locations:hover{

	.popover{
		visibility: visible;
	}
}

.amenities .reduce:hover{
	.popover{
		visibility: visible;
		width: 35%;
		border-left: 1px solid #DDDDDD;
		border-right: 0px;
	}
}

h1 {
	font-size: 30px;
	align-items: top;
	color: black;
}

h2 {
	font-size: 30px;
	align-items: center;
	color: black;
}

h3 {
	font-weight: 600;
	color: black;
	margin-left: 25px;
	line-height: 2px;
}

h4 {
	color: black;
	font-weight: 600;
	font-size: 14px;
	margin-left: 25px;
	line-height: 1;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}
